workflows2024/12/aoDawSYWvGvosPdq.json
{
  "active": false,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Dropbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-21T14:30:04.732Z",
  "id": "aoDawSYWvGvosPdq",
  "meta": null,
  "name": "Form Submission",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Access the data from the \"Edit Fields\" node\nconst editFieldsData = $input.\n\nconsole.log(editFieldsData)\n\n// LaTeX template\nconst latexTemplate = `\n\\\\documentclass[a4paper,12pt]{article}\n\\\\usepackage[margin=1in]{geometry}\n\\\\usepackage{fancyhdr}\n\\\\usepackage{background}\n\\\\usepackage{ragged2e}\n\\\\usepackage{tikz}\n\\\\usepackage{courier}\n\\\\renewcommand{\\\\familydefault}{\\\\ttdefault}\n\n\\\\backgroundsetup{\n    scale=1,\n    color=white,\n    opacity=0.05,\n    angle=45,\n    position=current page.south,\n    vshift=15cm,\n    contents={\\\\textit{Created by Curtis Mindle - Confidential}}\n}\n\\\\pagestyle{fancy}\n\\\\lhead{Tutoring Session Log - {{ studentname }}}\n\\\\rhead{Date: {{ date }}}\n\\\\cfoot{\\\\scriptsize Overall Session Rating: {{ progress_rating }}/5 \\\\quad Generated: {{ generated_at }} \\\\quad Template Version: 2.0}\n\n\\\\begin{document}\n\n\\\\begin{FlushLeft}\n    \\\\textbf{\\\\footnotesize Student:} {{ studentname }} \\\\\\\\\n    \\\\textbf{\\\\footnotesize Tutor:} {{ tutorname }} \\\\\\\\\n    \\\\footnotesize \\\\textbf{Session Duration:} {{ duration }} minutes \\\\\\\\\n    \\\\footnotesize \\\\textbf{Grade:} {{ grade }} \\\\quad \\\\textbf{Subject:} {{ subject }} \\\\quad \\\\textbf{Work Provided:}  {{ prepared }} \\\\\\\\\n    \\\\footnotesize \\\\textbf{Location:} 'A Loveleigh Place - Napanee'\n    \\\\vspace{0.5cm}\n\\\\end{FlushLeft}\n\n\\\\section*{\\\\fontsize{12}{14}\\\\selectfont Key Concepts Covered}\n\\\\justifying\n{{ keyconcepts }}\n\\\\vspace{0.3cm}\n\n\\\\section*{\\\\fontsize{12}{14}\\\\selectfont Student's Strengths Today}\n\\\\justifying\n{{ strengths }}\n\\\\vspace{0.3cm}\n\n\\\\section*{\\\\fontsize{12}{14}\\\\selectfont Areas of Difficulty}\n\\\\justifying\n{{ difficulties }}\n\\\\vspace{0.3cm}\n\n\\\\section*{\\\\fontsize{12}{14}\\\\selectfont Homework Assigned}\n\\\\justifying\n{{ homework }}\n\\\\vspace{0.3cm}\n\n\\\\section*{\\\\fontsize{12}{14}\\\\selectfont Additional Remarks (IF ANY)}\n\\\\justifying\n{{ additionalnotes }}\n\\\\vspace{0.3cm}\n\n\\\\begin{tikzpicture}[remember picture,overlay]\n    \\\\node at (current page.south west)[opacity=0] {\n        \\\\textcolor{white}{Created by Curtis Mindle - Confidential}\n    };\n\\\\end{tikzpicture}\n\n\\\\end{document}\n`;\n\n// Replace placeholders with actual data\nconst placeholders = {\n    \"{{ studentname }}\": editFieldsData.studentName || \"Unknown\",\n    \"{{ tutorname }}\": editFieldsData.tutorName || \"Unknown\",\n    \"{{ date }}\": editFieldsData.Date || \"Unknown\",\n    \"{{ duration }}\": editFieldsData.duration?.toString() || \"0\",\n    \"{{ grade }}\": editFieldsData.grade || \"Unknown\",\n    \"{{ subject }}\": editFieldsData.subject || \"Unknown\",\n    \"{{ keyconcepts }}\": editFieldsData.keyConcepts || \"None provided\",\n    \"{{ strengths }}\": editFieldsData.strengths || \"None provided\",\n    \"{{ difficulties }}\": editFieldsData.difficulties || \"None provided\",\n    \"{{ homework }}\": editFieldsData.homework || \"None provided\",\n    \"{{ additionalnotes }}\": editFieldsData.additionalNotes || \"None provided\",\n    \"{{ progress_rating }}\": editFieldsData.progressRating?.toString() || \"0\",\n    \"{{ prepared }}\": editFieldsData.prepared === \"Yes\" ? \"YES\" : \"NO\",\n    \"{{ generated_at }}\": new Date().toISOString(),\n};\n\n// Perform replacements\nlet filledTemplate = latexTemplate;\nfor (const [key, value] of Object.entries(placeholders)) {\n    filledTemplate = filledTemplate.replace(new RegExp(key, \"g\"), value);\n}\n\n// Return the generated LaTeX content\nreturn {\n    content: filledTemplate,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        0
      ],
      "id": "d89002a3-46bb-43de-b3b3-d6ef792510ec",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://latexonline.cc/compile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        0
      ],
      "id": "2e9b58b9-a4e7-433d-a280-59be0c8b3c1d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "path": "/Dropbox/01_Tutoring/07_A_Loveleigh_Place/",
        "binaryData": true
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1320,
        0
      ],
      "id": "654e9e98-b7c6-4844-9137-1d4e5a2fd43e",
      "name": "Dropbox",
      "credentials": {
        "dropboxApi": {
          "id": "SL3KJqyq2TMejvtD",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "https://airtable.com/appvRzW2pSRWrsApe/tbl357noJGu7GtFEP/viwLPlnFru1vfLCHS?blocks=hide",
          "mode": "url"
        },
        "tableId": {
          "__rl": true,
          "value": "https://airtable.com/appvRzW2pSRWrsApe/tbl357noJGu7GtFEP/viwLPlnFru1vfLCHS?blocks=hide",
          "mode": "url"
        },
        "triggerField": "ID",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "341f12c2-75ac-4aba-9e93-084d8edd7fd7",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "JYO3jHuozfvKzymQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff65d9d3-8edf-4eee-a11a-9039648ccaed",
              "name": "studentName",
              "value": "={{ $json.fields['Student First Name Rollup (from Students)'][0] }}",
              "type": "string"
            },
            {
              "id": "83becfdd-066b-4f16-9e7c-d87edf5a0c78",
              "name": "tutorName",
              "value": "Curtis Mindle",
              "type": "string"
            },
            {
              "id": "30f0a3ae-c294-4378-9fb1-6bd264b9b7fb",
              "name": "Date",
              "value": "={{ $json.fields.Date }}",
              "type": "string"
            },
            {
              "id": "9ecbce1f-3623-4c2a-b8d7-9f6c6073e16b",
              "name": "duration",
              "value": "={{ $json.fields['Duration (min)'] }}",
              "type": "number"
            },
            {
              "id": "0e96b882-b96c-425b-ba76-75fd747b8364",
              "name": "grade",
              "value": "={{ $json.fields.Subject.match(/Grade (\\d+)\\s+(.*)/)[1] }}",
              "type": "string"
            },
            {
              "id": "a4f44caa-c961-467e-8676-180c32e3f4e7",
              "name": "subject",
              "value": "={{ $json.fields.Subject.match(/Grade (\\d+)\\s+(.*)/)[2] }}",
              "type": "string"
            },
            {
              "id": "4116baeb-a823-4da6-9d84-0d9c85b6fe48",
              "name": "keyConcepts",
              "value": "={{ $json.fields['Concepts Covered'] }}",
              "type": "string"
            },
            {
              "id": "643856fa-0f0e-43ec-b728-f8582c8cba97",
              "name": "strengths",
              "value": "={{ $json.fields.Strengths }}",
              "type": "string"
            },
            {
              "id": "fef696b0-9ce7-4d40-a403-e801aa5cefe4",
              "name": "difficulties",
              "value": "={{ $json.fields.Difficulties }}",
              "type": "string"
            },
            {
              "id": "310b4077-fec3-43bb-9ef0-1495e406a024",
              "name": "homework",
              "value": "={{ $json.fields['Next Session Notes'] }}",
              "type": "string"
            },
            {
              "id": "52403903-228a-45ec-bdb1-14a9d4fbc03c",
              "name": "additionalNotes",
              "value": "={{ $json.fields['Additional Notes'] }}",
              "type": "string"
            },
            {
              "id": "a7850301-63e1-4256-b9f2-dc4b0945fce0",
              "name": "prepared",
              "value": "={{ $json.fields['Came prepared with work'] }}",
              "type": "string"
            },
            {
              "id": "ec1c1804-d3ff-485c-b840-957a6738eadc",
              "name": "progressRating",
              "value": "={{ $json.fields['Session Rating'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        0
      ],
      "id": "ed616be1-1774-45a0-98d6-1cc5c1dc3894",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "mindle99",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-23T15:12:23.000Z",
  "versionId": "141a381e-5449-4f74-8d22-5ae94bb3446b"
}